<html>
    <head>
        <title>Il mio primo layout</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>        
        <main class="m-3">
                @RenderBody()
        </main>
    </body>
</html>
